.show-clear-mercury-age, .show-death-button, .show-death-results-mercury {
  display: none;
}
body {
  background-image: url('../img/galaxy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.header {
  text-align: center;
  letter-spacing: 15px;
  margin-top: 10%;
  margin-bottom: 10%;
  color:	#eeeeee;
  font-size: 4.5em;
}
.age-convert, .date-seconds {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 20%;
  padding: 20px;
  background: #000000;
  opacity: .9;
  border: #000000;
  border-radius: 0;
  color:	#eeeeee;
}
.form-header {
  margin-bottom: 30px;
  letter-spacing: 2px;
}
.label-age, #age, .label-date, #date1, #date2 {
  margin-bottom: 30px;
  margin-right: 5px;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 5px;
}
#age, #date1, #date2 {
  color: #000000;
}
.result-header {
  letter-spacing: 2px;
}
.result-header:first-of-type {
  text-align: center;
}
.clear-btn, .clear-planets {
  text-align: center;

}
.clear-mercury, .clear-venus, .clear-mars, .clear-jupiter, .clear-seconds, .clear-date {
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}
#seconds-result {
  font-size: 14px;
  letter-spacing: 3px;
}
#mercury-death-avg, #venus-death-avg, #mars-death-avg, #jupiter-death-avg {
  margin-top: 15px;
  margin-bottom: 30px;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 4px 6px 4px 6px;
}
.years-left-calc {
  border: solid 1px #eeeeee;
  padding: 10px;
}
.avg-death-text {
  letter-spacing: 2px;
  font-size: 13px;
}
.planet {
  background: grey;
  color: #ffffff;
  padding: 3px;
  margin: 3px;
}
